body {
    font-family: helvetica;
    background: url(images/bg.png);
}
.foodspotting {
    float: left;
    padding: 0 30px;

}
.header {
    padding: 5px;
}
div section {
    float: right;
    text-align: center;
    padding: 0 10px;
}

section p {
    font-size: 10px;
}

h1 {
    clear: both;
    border-top: 1px solid #999;
    padding: 20px 30px;
}
h3 {
    line-height: 0;
}

.food1 {
    float: left;
    width: 308px;
    padding: 5px;
    background-color: #ddd;
}

.food2 {
    float: right;
    width: 308px;
    padding: 5px;
    background-color: #ddd;
}
.foodpic img {
    border-radius: 5px;
    float: left;
    margin: 7px;
    width: 140px;
}

.content {
    background-color:#fff;
    border-radius: 5px;
    padding: 10px;
    width: 680px;
    font-size: 20px;
    margin: 0 auto;

}

.lower-half {
    clear: both;
    padding-top: 1em;
}

.hot-dog {
    float: right;
    width: 140px;
}

.hot-dog img {
    width: 140px;
}

.hot-dog p {
    background-color: #444;
    color: #8ac90c;
    margin: 0;
    padding: 10px;
}

.white {
    width: 980px;
    margin: 0 auto;
}

.button {
    text-align: center;
    font-size: 14px;
    background-color: #ddd;
    border-radius: 40px;
    border: 1px solid #999;
    clear: both;
    margin: 10px 0;
    padding: 5px;
}
