body {
    font-family: helvetica;
    background: url(/images/bg.png);
}
.foodspotting {
    float: left;
    padding: 0 30px;

}
.header {
    padding: 5px;
}
div section {
    float: right;
}

h1 {
    clear: both;
    border-top: 1px solid #999;
    padding: 20px 30px;
}
